<div class="window-header">
  <h1 mat-dialog-title>Editar Clientes</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill"></i></button>
</div>

<div class="window-content">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput placeholder=" " [(ngModel)]="clientes.Nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Direccion</mat-label>
    <input matInput placeholder=" " [(ngModel)]="clientes.Direccion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input matInput placeholder=" "  [(ngModel)]="clientes.Usuario">
  </mat-form-field>
</div>


<div mat-dialog-actions class="window-footer">
  <button class="btn" (click)="guardar()"><i class="bi bi-floppy2-fill icon"></i> Guardar Cambios<i class="underline"></i></button>
</div>