<h1 mat-dialog-title>Editar Clientes</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder=" " [(ngModel)]="clientes.Nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input matInput placeholder=" " [(ngModel)]="clientes.Direccion">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder=" "  [(ngModel)]="clientes.Usuario">
      </mat-form-field>
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="guardar()">Guardar Cambios</button>
</div>