<div class="window-header">
  <h1 mat-dialog-title>Editar puesto</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill "></i></button>
</div>
<div class="window-content">
  <br>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="" [(ngModel)]="puestos.nombre" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder=" " [(ngModel)]="puestos.descripcion" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Salario</mat-label>
        <input matInput placeholder=" " [(ngModel)]="puestos.salario" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>UsuarioActualiza</mat-label>
        <input
          matInput
          placeholder=" "
          [(ngModel)]="puestos.usuarioActualiza"
        />
      </mat-form-field>
    </div>

    <div class="window-footer" mat-dialog-actions>
      <button class="btn" (click)="guardar()"><i class="bi bi-floppy2-fill icon"></i> Guardar Cambios<i class="underline"></i></button>
    </div>