<div class="window-header">
  <h1 mat-dialog-title>Modificar existencia</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill"></i></button>
</div>

<div class="window-content">
        <br>
           <mat-form-field>
        <mat-label>Producto</mat-label>
        <select matNativeControl [(ngModel)]="Codigo" (change)="dev1($event)">
          <option value="0">--Seleccione un producto--</option>
          <option *ngFor="let cc of ComboCodigo" [value]="cc.Codigo">{{ cc.Descripcion }}</option>
        </select>
      </mat-form-field>
        <mat-form-field>
        <mat-label>Almacen</mat-label>
        <select matNativeControl [(ngModel)]="Almacen" (change)="dev2($event)" >
          <option value="0">--Seleccione un almacen--</option>
          <option *ngFor="let almacen of ComboAlmacen" [value]="almacen.Id">{{ almacen.Nombre}}</option>
        </select>
      </mat-form-field>
          <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input matInput placeholder="Ingresa la cantidad" [(ngModel)]="existencia.Cantidad">
          </mat-form-field>
          <mat-form-field>
          <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingresa el usuario" [(ngModel)]="existencia.Usuario">
          </mat-form-field>
        </div>
<div class="window-footer" mat-dialog-actions>
  <button class="btn" (click)="guardar()"><i class="bi bi-floppy2-fill icon"></i> Guardar Cambios<i class="underline"></i></button>
</div>