<div class="window-header">
  <h1 mat-dialog-title>Nuevo puesto</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill "></i></button>
</div>
<div class="window-content">
  <br>
      <mat-form-field>
        <mat-label>nombre</mat-label>
        <input matInput placeholder="Ingresa el nombre" [(ngModel)]="nombre" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>descripcion</mat-label>
        <input
          matInput
          placeholder="Ingresa la descripcion"
          [(ngModel)]="descripcion"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>salario</mat-label>
        <input
          matInput
          placeholder="Ingresa el salario"
          [(ngModel)]="salario"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>usuarioActualiza</mat-label>
        <input
          matInput
          placeholder="Usuario Actualiza"
          [(ngModel)]="usuarioActualiza"
        />
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="window-footer">
      <button class="btn" cdkFocusInitial (click)="insertar()"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
    </div>
    
