<div class="window-header">
  <h1 mat-dialog-title>Editar usuario</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill "></i></button>
</div>
<div class="window-content">
  <br>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" [(ngModel)]="usuario.Nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" [(ngModel)]="usuario.Contrasena">
    </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <input matInput placeholder="Rol" [(ngModel)]="usuario.Rol">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="usuario" [(ngModel)]="usuario.Usuario">
      </mat-form-field>
    </div>
    <div class="window-footer" mat-dialog-actions>
      <button class="btn" (click)="guardar()"><i class="bi bi-floppy2-fill icon"></i> Guardar Cambios<i class="underline"></i></button>
    </div>
