<h1 mat-dialog-title>Editar Usuario</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" [(ngModel)]="usuario.Nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" [(ngModel)]="usuario.Contrasena">
    </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <input matInput placeholder="Rol" [(ngModel)]="usuario.Rol">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="usuario" [(ngModel)]="usuario.Usuario">
      </mat-form-field>
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="guardar()">Guardar Cambios</button>
</div>
