<h1 mat-dialog-title>Nuevo Articulo</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>descripcion</mat-label>
        <input matInput placeholder="Ingresa el nombre" [(ngModel)]="descripcion">
      </mat-form-field>
      <mat-form-field>
        <mat-label>codigo</mat-label>
        <input matInput placeholder="Ingresa la direccion" [(ngModel)]="codigo">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unidad Medida</mat-label>
        <input matInput placeholder="Usuario Actualiza" [(ngModel)]="um">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Costo</mat-label>
        <input matInput placeholder="Ingresa la direccion" [(ngModel)]="costo">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput placeholder="Ingresa la direccion" [(ngModel)]="precio">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Ingresa la direccion" [(ngModel)]="usuario">
      </mat-form-field>
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
</div>
