<div>
  <h1 mat-dialog-title>Nuevo Detalle Movimiento</h1>
  <div mat-dialog-content class="mat-dialog-grid">
    <!-- Fila para el formulario -->
    <div class="mat-dialog-row">
      <!-- Columna para el campo de nombre -->
      <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <select matNativeControl [(ngModel)]="idPerfil">
          <option value="0">--Seleccione un rol--</option>
          <option *ngFor="let rol of ComboRol" [value]="rol.Id">{{ rol.Rol }}</option>
        </select>
      </mat-form-field>
     <mat-form-field>
        <mat-label>Modulo</mat-label>
        <select matNativeControl [(ngModel)]="idModulo">
          <option value="0">--Seleccione un modulo--</option>
          <option *ngFor="let mod of ComboModulo" [value]="mod.Id">{{ mod.NombreModulo }}</option>
        </select>
      </mat-form-field>
             <mat-form-field>
        <mat-label>Acceso</mat-label>
        <select  matNativeControl [(ngModel)]="acceso" >
          <option value="1">Con acceso</option>
          <option value="0">sin acceso</option>
        </select>
      </mat-form-field>
        <mat-form-field>
          <mat-label>Usuario Actualiza</mat-label>
          <input  type="number" matInput placeholder="Id del usuario que actualiza" [(ngModel)]="usuarioActualiza">
        </mat-form-field>
        
      </div>
    </div>
    <!-- Puedes agregar más filas con más campos aquí -->
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
  </div>
</div>
