<div class="window-header">
  <h1 mat-dialog-title>Nuevo Cliente</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill "></i></button>
</div>

<div class="window-content">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Ingresa el nombre" [(ngModel)]="nombreCliente">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Direccion</mat-label>
    <input matInput placeholder="Ingresa la direccion" [(ngModel)]="direccion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefono</mat-label>
    <input matInput placeholder="Ingresa el telefono" [(ngModel)]="telefono">
  </mat-form-field>  
  <mat-form-field>
    <mat-label>Curp</mat-label>
    <input matInput placeholder="Ingresa el curp" [(ngModel)]="curp">
  </mat-form-field>  
  <mat-form-field>
    <mat-label>Rfc</mat-label>
    <input matInput placeholder="Ingresa el rfc" [(ngModel)]="rfc">
  </mat-form-field>  
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ingresa el email" [(ngModel)]="email">
  </mat-form-field>  
  <mat-form-field>
    <mat-label>Coordenadas</mat-label>
    <input matInput placeholder="Ingresa las coordenadas" [(ngModel)]="coordenadas">
  </mat-form-field>  
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Usuario Actualiza" [(ngModel)]="usuario">
  </mat-form-field>  
</div>
<div mat-dialog-actions class="window-footer">
  <button class="btn" cdkFocusInitial (click)="insertar()"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
</div>
