<div class="window-header">
<h1 mat-dialog-title>Nuevo Almacen</h1>
<button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill "></i></button>
</div>

<div class="window-content">
  <div mat-dialog-content class="mat-dialog-grid">
    <!-- Fila para el formulario -->
    <div class="mat-dialog-row">
      <!-- Columna para el campo de nombre -->
      <div class="mat-dialog-cell">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ingresa el nombre" [(ngModel)]="nombreAlmacen">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Direccion</mat-label>
          <input matInput placeholder="Ingresa la direccion" [(ngModel)]="direccion">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Usuario Actualiza" [(ngModel)]="usuario">
        </mat-form-field>
      </div>
    </div>
    <!-- Puedes agregar más filas con más campos aquí -->
  </div>
</div>

<div mat-dialog-actions class="window-footer" >
    <button mat-button cdkFocusInitial (click)="insertar()"><i class="bi bi-cloud-upload-fill icon"></i> Insertar</button>
</div>
