<div class="window-header">
  <h1 mat-dialog-title>Editar modulo</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill"></i></button>
</div>
<div class="window-content">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingresa el nombre" [(ngModel)]="modulo.NombreModulo">
      </mat-form-field>
       <mat-form-field>
        <mat-label>Unidad Medida</mat-label>
        <select  matNativeControl [(ngModel)]="modulo.CategoriaModulo" (change)="dev($event)">
          <option value="0">--Seleccione una unidad de medida--</option>
          <option *ngFor="let cm of comboCatMod" [value]="cm.Id">{{ cm.Nombre }}</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Ingresa el Usuario" [(ngModel)]="modulo.Usuario">
      </mat-form-field>
    </div>

<div class="window-footer" mat-dialog-actions>
  <button class="btn" (click)="guardar()"><i class="bi bi-floppy2-fill icon"></i> Guardar Cambios<i class="underline"></i></button>
</div>