<div class="title-container">
    <br>
    <label class="title">Existencias</label>
    <br>
    <img src="./assets/Almacenes.png" class="module-logo">
</div>

<div class="actionbar">
    <mat-form-field style="width: 512px;">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field>
    <button (click)="abrirInsertarModal()" class="btn right">Insertar<i class="underline"></i></button>
</div>
<br>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let existencia"> {{existencia.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
            <td mat-cell *matCellDef="let existencia"> {{existencia.Codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="Almacen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ALMACEN </th>
            <td mat-cell *matCellDef="let existencia"> {{existencia.Almacen}} </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
            <td mat-cell *matCellDef="let existencia"> {{existencia.Cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO </th>
            <td mat-cell *matCellDef="let existencia"> {{existencia.Usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaRegistro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE REGISTRO </th>
            <td mat-cell *matCellDef="let existencia"> {{existencia.FechaRegistro}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE ACTUALIZACION </th>
            <td mat-cell *matCellDef="let existencia"> {{existencia.FechaActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let elemento">

            <mat-icon class="action-btn green" (click)="abrirEditarModal(elemento)">edit</mat-icon>
            <mat-icon class="action-btn red" (click)="eliminarExistencia(elemento.Id)">delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>
