<div class="title-container">
    <br>
    <label class="title">Punto de venta 27</label>
    <br>
    <img src="./assets/Almacenes.png" class="module-logo">
</div>

<div class="form-container">
    <div class="form-title">
        <h1 mat-dialog-title>Nuevo ticket</h1>
    </div>
    <div class="form-content">
        <mat-form-field>
            <mat-label>Sucursal</mat-label>
            <select matNativeControl [(ngModel)]="IdSucursal">
              <option value="0">--Seleccione una Sucursal--</option>
              <option *ngFor="let cod of ComboSucursales" [value]="cod.Id">{{ cod.Nombre}}</option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <input matInput placeholder="Ingresa la direccion" [(ngModel)]="IdCliente">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Vendedor</mat-label>
            <input matInput placeholder="Ingresa la direccion" [(ngModel)]="IdVendedor">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario Actualiza" [(ngModel)]="Usuario">
        </mat-form-field>
        <button (click)="insertarTicket()" class="btn right">Insertar<i class="underline"></i></button>
    </div>
</div>

<div class="form-container">
    <div class="form-title">
        <h1 mat-dialog-title>Nuevo elemento del ticket</h1>
    </div>
    <div class="form-content">
        <mat-form-field>
            <mat-label>Ticket</mat-label>
            <input matInput placeholder="Ingresa el ticket" [(ngModel)]="idTicket">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Articulo</mat-label>
            <select matNativeControl [(ngModel)]="codigo">
              <option value="0">--Seleccione un Articulo--</option>
              <option *ngFor="let cod of ComboCodigo" [value]="cod.Id">{{ cod.Descripcion}}</option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input matInput placeholder="Ingresa la cantidad" [(ngModel)]="cantidad">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Precio de venta</mat-label>
            <input matInput placeholder="ngresa el precio de venta" [(ngModel)]="precioVenta">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario Actualiza" [(ngModel)]="usuario">
        </mat-form-field>
        <button (click)="insertarDetalleTicket()" class="btn right">Insertar<i class="underline"></i></button>
    </div>
  
    
</div>


  <br>
<div class="actionbar">
    <mat-form-field class="search-bar">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field>
</div>
<br>
<div class="table-container">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let tickets"> {{tickets.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Sucursal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
            <td mat-cell *matCellDef="let tickets"> {{tickets.Sucursal}} </td>
        </ng-container>
        <ng-container matColumnDef="Cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
            <td mat-cell *matCellDef="let tickets"> {{tickets.Cliente}} </td>
        </ng-container>
        <ng-container matColumnDef="Vendedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
            <td mat-cell *matCellDef="let tickets"> {{tickets.Vendedor}} </td>
        </ng-container>
        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let tickets"> {{tickets.Usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let tickets"> {{tickets.Fecha}} </td>
        </ng-container>
        <ng-container matColumnDef="Estatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
            <td mat-cell *matCellDef="let tickets"> {{tickets.Estatus}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let elemento">

            <mat-icon class="action-btn" (click)="abrirEditarModal(elemento)">edit</mat-icon>
            <mat-icon class="action-btn" (click)="eliminarAlmacen(elemento.Id)">delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <mat-form-field>
        <mat-label>Folio</mat-label>
        <input matInput placeholder="XXXXX" [(ngModel)]="idTicket">
    </mat-form-field>
  </div>

