<div class="title-container">
  <br>
  <label class="title">Punto de venta 27</label>
  <br>
  <img src="./assets/Almacenes.png" class="module-logo">
</div>


<div class="form-place">
    <div class="form-container">
      <div class="form-title">
        <h1 mat-dialog-title>Nuevo ticket</h1>
      </div>
      <div class="form-content">
        <mat-form-field>
          <mat-label>Sucursal</mat-label>
          <mat-select [formControl]="IdSucursalControl" [(ngModel)]="IdSucursal" name="IdSucursal" required>
            <mat-option value="0">--Seleccione una Sucursal--</mat-option>
            <mat-option *ngFor="let cod of ComboSucursales" [value]="cod.Id">{{ cod.Nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Cliente" [formControl]="IdClienteControl" [matAutocomplete]="autoCliente" [ngModel]="selectedCliente" [value]="displayClienteFn(selectedCliente)" />
          <mat-autocomplete #autoCliente="matAutocomplete" (optionSelected)="clienteSelected($event)" [displayWith]="displayClienteFn">
            <mat-option *ngFor="let option of filteredClientes | async" [value]="option">
              {{ option.Nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vendedor</mat-label>
          <input matInput [formControl]="IdVendedorControl" placeholder="Ingresa la direccion" [(ngModel)]="IdVendedor" name="IdVendedor">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput [formControl]="IdUsusarioControl" placeholder="Usuario Actualiza" [(ngModel)]="Usuario" name="Usuario">
        </mat-form-field>
        <button [ngClass]="{'disabled-button': isOnStepTwo}" [disabled]="isOnStepTwo" (click)="insertarTicket();" class="btn-form right">Generar ticket<i class="underline"></i></button>
      </div>


