<div class="background">
  <div class="login-bg">
    <img
      src="./assets/loginlogofull.png"
      style="width: 256px; height: 256px"
    />
    <br>
    <div mat-dialog-content class="mat-dialog-grid">
      <!-- Fila para el formulario -->
      <div class="mat-dialog-row">
        <!-- Columna para el campo de nombre -->
        <div class="mat-dialog-cell">
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingrese su usuario" />
          </mat-form-field>
        </div>
      </div>
      <div class="mat-dialog-row">
        <div class="mat-dialog-cell">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="**********" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button routerLink="../inicio" class="btn">Iniciar sesión</button>
    </div>
  </div>
</div>
