<!-- src/app/login/login.component.html -->
<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <div class="login-bg">
    <img src="./assets/loginlogofull.png" style="width: 256px; height: 256px" />
    <br />
    <div mat-dialog-content class="mat-dialog-grid">
      <!-- Fila para el formulario -->
      <div class="mat-dialog-row">
        <!-- Columna para el campo de nombre -->
        <div class="mat-dialog-cell">
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input id="username" matInput placeholder="Ingrese su usuario" [(ngModel)]="username" name="username" required />
          </mat-form-field>
        </div>
      </div>
      <div class="mat-dialog-row">
        <div class="mat-dialog-cell">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input id="userpassword" type="password" matInput placeholder="**********" [(ngModel)]="userpassword" name="userpassword" required/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button (click)="login()" class="btn">Iniciar sesión</button>
    </div>
  </div>
</div>
