<div class="background">
  <br />
  <div class="login-bg">
    <img
      src="./assets/loginlogo.jpg"
      style="border-radius: 50%; width: 256px; height: 256px"
    />
    <br />
    <div mat-dialog-content class="mat-dialog-grid">
      <!-- Fila para el formulario -->
      <div class="mat-dialog-row">
        <!-- Columna para el campo de nombre -->
        <div class="mat-dialog-cell">
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingrese su usuario" />
          </mat-form-field>
        </div>
      </div>
      <div class="mat-dialog-row">
        <div class="mat-dialog-cell">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="**********" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button>Salir</button>
      <button mat-button cdkFocusInitial routerLink="">Iniciar sesión</button>
    </div>
  </div>
</div>
