<div class="title-container">
    <br>
    <label class="title">Detalle de movimientos</label>
    <br>
    <img src="./assets/Articulos.png" class="module-logo">
</div>

<div class="actionbar">
    <mat-form-field style="width: 512px;">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field>
    <button (click)="abrirInsertarModal()" class="btn right">Insertar<i class="underline"></i></button>
</div>
<br>

<div class="table-container">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="NombreMovimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Movimiento </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.NombreMovimiento}} </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.Cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="Costo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.Costo}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaAct </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.FechaActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.UsuarioActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let elemento">

            <mat-icon class="action-btn green" (click)="abrirEditarModal(elemento)">edit</mat-icon>
            <mat-icon class="action-btn red" (click)="eliminarDetalleMov(elemento.Id)">delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
</div>

