<div class="title-container">
    <br>
    <label class="title">Modulos</label>
    <br>
    <img src="./assets/Almacenes.png" class="module-logo">
</div>

<div class="actionbar">
    <mat-form-field class="search-bar">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field>
    <button (click)="abrirInsertarModal()" class="btn right">Insertar<i class="underline"></i></button>
</div>
<br>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let Modulo"> {{Modulo.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="NombreModulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modulo </th>
            <td mat-cell *matCellDef="let Modulo"> {{Modulo.NombreModulo}} </td>
        </ng-container>
        <ng-container matColumnDef="CategoriaModulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let Modulo"> {{Modulo.CategoriaModulo}} </td>
        </ng-container>
        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let Modulo"> {{Modulo.Usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaAct">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaAct </th>
            <td mat-cell *matCellDef="let Modulo"> {{Modulo.FechaAct}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaReg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaReg </th>
            <td mat-cell *matCellDef="let Modulo"> {{Modulo.FechaReg}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let elemento">

            <mat-icon class="action-btn green"(click)="abrirEditarModal(elemento)">edit</mat-icon>
            <mat-icon class="action-btn red" (click)="eliminarModulo(elemento.Id)">delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>

