<h1 mat-dialog-title>Nuevo Usuario</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingresa el nombre" [(ngModel)]="nombre" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>rol</mat-label>
        <input matInput placeholder="Ingresa el nombre" [(ngModel)]="rol" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contrasena" [(ngModel)]="contrasena" />
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Nombre</mat-label> -->
      <div class="container">
        <!-- <input matInput placeholder="Ingresa el nombre" [(ngModel)]="nombreCatModulo"> -->
        <select [(ngModel)]="ComboRoles" (change)="dev($event)" class="form-control">
            <option value="0">--Seleccione un usuario--</option>
            <option *ngFor="let rol of ComboRoles" value={{rol.Id}}>{{ rol.Rol }}</option>
        </select>
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Usuario Actualiza" [(ngModel)]="usuario" />
        </mat-form-field>
      </div>
    </div>
    <!-- Puedes agregar más filas con más campos aquí -->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
  </div>
</div>
