<h1 mat-dialog-title>Nuevo Empleado</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>IdPersona</mat-label>
        <input
          matInput
          placeholder="Ingresa el nombre"
          [(ngModel)]="IdPersona"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>IdSucursal</mat-label>
        <input
          matInput
          placeholder="Selecciona sucursal"
          [(ngModel)]="IdSucursal"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Puesto</mat-label>
        <input matInput placeholder="Puesto" [(ngModel)]="IdPuesto" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario Actualiza</mat-label>
        <input matInput placeholder="Usuario" [(ngModel)]="usuarioActualiza" />
      </mat-form-field>
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
</div>
