<h1 mat-dialog-title>Nuevo Empleado</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
    <mat-label>Persona</mat-label>
    <select matNativeControl [(ngModel)]="IdPersona">
      <option value="0">--Seleccione una Persona--</option>
      <option *ngFor="let per of ComboPersona" [value]="per.Id">{{ per.Nombre }}</option>
    </select>
  </mat-form-field>
     <mat-form-field>
    <mat-label>Sucursal</mat-label>
    <select matNativeControl [(ngModel)]="IdSucursal">
      <option value="0">--Seleccione una Sucursal--</option>
      <option *ngFor="let scr of ComboSucursal" [value]="scr.Id">{{ scr.Nombre }}</option>
    </select>
  </mat-form-field>
        <mat-form-field>
    <mat-label>Puesto</mat-label>
    <select matNativeControl [(ngModel)]="IdPuesto">
      <option value="0">--Seleccione un Puesto--</option>
      <option *ngFor="let pt of ComboPuesto" [value]="pt.Id">{{ pt.nombre }}</option>
    </select>
  </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario Actualiza</mat-label>
        <input matInput placeholder="Usuario" [(ngModel)]="usuarioActualiza" />
      </mat-form-field>
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
</div>
