<mat-sidenav-container class="Hamburguesa">
    <mat-sidenav #sidenav mode="side">
        <mat-list role="list" class="lista menu-container">
          <a class="menu-btn" routerLink="inicio" ><strong>Inicio</strong><i></i></a>
          <a class="menu-btn" routerLink="almacenes" ><strong>Almacenes</strong><i></i></a>
          <a class="menu-btn" routerLink="articulos" ><strong>Articulos</strong><i></i></a>
          <a class="menu-btn" routerLink="categoriamodulo"><strong>CategoriaModulo</strong><i></i></a>
          <a class="menu-btn" routerLink="clientes" ><strong>Clientes</strong><i></i></a>
          <a class="menu-btn" routerLink="detallePerfil"><strong>Detalle Perfil</strong><i></i></a>
          <a class="menu-btn" routerLink="detallemovimiento" ><strong>Detalle de movimiento</strong><i></i></a>
          <a class="menu-btn" routerLink="detalleticket" ><strong>Detalle de ticket</strong><i></i></a>
          <a class="menu-btn" routerLink="empleados"><strong>Empleados</strong><i></i></a>
          <a class="menu-btn" routerLink="existencias" ><strong>Existencias</strong><i></i></a>
          <a class="menu-btn" routerLink="modulos" ><strong>Modulos</strong><i></i></a>
          <a class="menu-btn" routerLink="movinventarios" ><strong>Movimientos de inventario</strong><i></i></a>
          <a class="menu-btn" routerLink="personas" ><strong>Personas</strong><i></i></a>
          <a class="menu-btn" routerLink="puestos"><strong>Puestos</strong><i></i></a>
          <a class="menu-btn" routerLink="rutas" ><strong>Rutas</strong><i></i></a>
          <a class="menu-btn" routerLink="tickets" ><strong>Tickets</strong><i></i></a>
          <a class="menu-btn" routerLink="usuarios" ><strong>Usuarios permitidos</strong><i></i></a>
          <a style="color:red;" class="menu-btn" (click)="sidenav.toggle()" routerLink="login" ><strong>Cerrar sesion</strong><i></i></a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>FritoMenú</span>
      </mat-toolbar>
      <div>
        <router-outlet class="bg"></router-outlet>
      </div>