.Hamburguesa {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  background-color: #f86d21;
}

.menu-container {
  margin: 0;
  padding: 0;
  background-color: #00000000;
}

.lista{
  margin:0;
  padding:0;
  background-color: #00000000;
  width: 300px;
}

.menu-btn {
  color: #fff;
  font-size: 17px;
  background-color: #f86d21;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 0;
  transition: 0.5s;
}

.menu-btn:hover {
  background-color: #c25114;
  font-size: 20px;
  border-bottom: solid #ffffff 2px;
  transition:.5s;
}

.lista {
  height: 100%;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00000000;
}

.hide {
  display: none;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content.bg {
  background-color: rgb(255, 222, 131);
}

mat-sidenav{
  background-color: #f86d21;
}