<mat-sidenav-container class="Hamburguesa">
  <mat-sidenav #sidenav mode="over">
    <mat-list role="list" class="lista menu-container">
      <button class="menu-btn" routerLink="inicio">
        <strong>Inicio</strong>
      </button>
      <button class="menu-btn" routerLink="almacenes">
        <strong>Almacenes</strong>
      </button>
      <button class="menu-btn" routerLink="articulos">
        <strong>Articulos</strong>
      </button>
      <button class="menu-btn" routerLink="clientes">
        <strong>Clientes</strong>
      </button>
      <button class="menu-btn" routerLink="detallemovimiento">
        <strong>Detalle de movimiento</strong>
      </button>
      <button class="menu-btn" routerLink="detalleticket">
        <strong>Detalle de ticket</strong>
      </button>
      <button class="menu-btn" routerLink="existencias">
        <strong>Existencias</strong>
      </button>
      <button class="menu-btn" routerLink="movinventarios">
        <strong>Movimientos de inventario</strong>
      </button>
      <button class="menu-btn" routerLink="personas">
        <strong>Personas</strong>
      </button>
      <button class="menu-btn" routerLink="empleados">
        <strong>Empleados</strong>
      </button>
      <button class="menu-btn" routerLink="rutas">
        <strong>Rutas</strong>
      </button>
      <button class="menu-btn" routerLink="tickets">
        <strong>Tickets</strong>
      </button>
      <button class="menu-btn" routerLink="puestos">
        <strong>Puestos</strong>
      </button>
      <button class="menu-btn" routerLink="usuarios">
        <strong>Usuarios permitidos</strong>
      </button>
      <button
        style="color: red"
        class="menu-btn"
        (click)="sidenav.toggle()"
        routerLink="login"
      >
        <strong>Cerrar sesion</strong>
      </button>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>FritoMenú</span>
    </mat-toolbar>
    <div>
      <router-outlet class="bg"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
