<mat-sidenav-container class="Hamburguesa">
  <mat-sidenav #sidenav mode="push">
    <mat-list role="list" class="lista">
      <div class="menu-header">
        <p>Usuario : {{actualUser.NombreUsuario}}</p>
        <p>Rol : {{actualUser.Rol}}</p>
      </div>
      <a class="menu-btn mobile" (click)="sidenav.toggle()"><i class="bi bi-eye-slash-fill"></i><strong> Ocultar</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Vendedor' && actualUser.Rol != 'Gerente'" routerLink="../tickets" ><i class="bi bi-cart-fill app-icon"></i><strong> Punto de Venta</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../almacenes" ><i class="bi bi-box-seam-fill app-icon"></i><strong> Almacenes</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../articulos" ><i class="bi bi-file-ruled-fill app-icon"></i><strong> Articulos</strong><i class="underline"></i></a>
      <!-- <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../categoriamodulo"><i class="bi bi-tags-fill app-icon"></i><strong> Categorias de perfiles</strong><i class="underline"></i></a> -->
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../clientes"><i class="bi bi-person-lines-fill app-icon"></i><strong> Clientes</strong><i class="underline"></i></a>
      <!-- <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../detallePerfil"><i class="bi bi-person-badge app-icon"></i><strong> Detalle de perfil</strong><i class="underline"></i></a> -->
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../detallemovimiento" ><i class="bi bi-calendar-check-fill app-icon"></i><strong> Detalle de movimiento</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Vendedor' && actualUser.Rol != 'Gerente'" routerLink="../detalleticket" ><i class="bi bi-card-list app-icon"></i><strong> Detalle de ticket</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../empleados"><i class="bi bi-person-vcard-fill app-icon"></i><strong> Empleados</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../existencias" ><i class="bi bi-clipboard-check-fill app-icon"></i><strong> Existencias</strong><i class="underline"></i></a>
  <!--<a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../modulos" ><i class="bi bi-journal-bookmark-fill app-icon"></i><strong> Modulos</strong><i class="underline"></i></a>
   --><a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../movinventarios" ><i class="bi bi-arrow-left-right app-icon"></i><strong> Movimiento inventario</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../personas" ><i class="bi bi-person-arms-up app-icon"></i><strong> Personas</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente'" routerLink="../puestos"><i class="bi bi-person-video2 app-icon"></i><strong> Puestos</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador' && actualUser.Rol != 'Gerente' && actualUser.Rol != 'Repartidor'" routerLink="../rutas" ><i class="bi bi-truck app-icon"></i><strong> Rutas</strong><i class="underline"></i></a>
      <a class="menu-btn" [hidden]="actualUser.Rol != 'Administrador'" routerLink="../usuarios" ><i class="bi bi-person-fill-check app-icon"></i><strong> Usuarios permitidos</strong><i class="underline"></i></a>
      <a class="menu-btn" (click)="logout(); sidenav.toggle()" routerLink="login" ><strong> Cerrar sesion</strong><i class="underline"></i></a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg">
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>FrySoft</span>
      <div class="info">
        <span>Hola {{actualUser.NombreUsuario}}!</span>
        <span class="nav-btn" routerLink="inicio"><i class="bi bi-house-fill"></i></span>
        <span class="nav-btn" (click)="logout()" routerLink="login"><i class="bi bi-box-arrow-left"></i></span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
