<div class="window-header">
  <h1 mat-dialog-title>Nuevo Detalle de movimiento</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill "></i></button>
</div>

<div class="window-content">
  <mat-form-field>
      <mat-label>Tipo Movimiento</mat-label>
        <select matNativeControl [(ngModel)]="idMovimiento">
          <option value="0">--Seleccione un Tipo Movimiento--</option>
          <option *ngFor="let movInv of ComboMov" [value]="movInv.Id">{{ movInv.IdTipoMov}}---{{movInv.IdAlmacen}}</option>
        </select>
      </mat-form-field>
     <mat-form-field>
        <mat-label>Articulo</mat-label>
        <select matNativeControl [(ngModel)]="codigo">
          <option value="0">--Seleccione un Articulo--</option>
          <option *ngFor="let cod of ComboCodigo" [value]="cod.Id">{{ cod.Descripcion}}</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input matInput placeholder="Cantidad" [(ngModel)]="cantidad">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Costo</mat-label>
        <input matInput placeholder="Costo" [(ngModel)]="costo">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario Actualiza" [(ngModel)]="usuarioActualiza">
      </mat-form-field>
</div>
        
      
<div mat-dialog-actions class="window-footer">
  <button class="btn" cdkFocusInitial (click)="insertar()"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
</div>

