<h1 mat-dialog-title>Nuevo Ticket</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Sucursal</mat-label>
        <input matInput placeholder="Ingresa el nombre" [(ngModel)]="IdSucursal">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input matInput placeholder="Ingresa la direccion" [(ngModel)]="IdCliente">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Vendedor</mat-label>
        <input matInput placeholder="Ingresa la direccion" [(ngModel)]="IdVendedor">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario Actualiza" [(ngModel)]="Usuario">
      </mat-form-field>
      
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
</div>

