<div class="title-container">
    <br>
    <label class="title">Movimientos de Inventario</label>
    <br>
    <img src="./assets/Almacenes.png" class="module-logo">
</div>

<div class="form-place" *ngIf="isOnStepOne">
    <div class="form-container">
        <div class="form-title">
            <p [hidden]="!datosCargados"> Editando Movimiento con Id: {{this.tipoMov.Id}} </p>
            <p [hidden]="datosCargados">Nuevo movimiento</p>
        </div>
        <div class="form-content">
            <mat-form-field appearance="fill">
                <mat-label>Tipo de Movimiento</mat-label>
                <mat-select [(ngModel)]="idTipoMov">
                    <mat-option [value]="0">Seleccione</mat-option>
                    <mat-option *ngFor="let tm of ComboTipoMov" [value]="tm.Id">{{ tm.Nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label *ngIf="idTipoMov == 1 || idTipoMov == 2">¿A qué Almacén?</mat-label>
                <mat-label *ngIf="idTipoMov !== 1 && idTipoMov !== 2">Almacen</mat-label>
                <mat-select [(ngModel)]="idAlmacen">
                    <mat-option [value]="0">Seleccione</mat-option>
                    <mat-option *ngFor="let alm of ComboAlmacen" [value]="alm.Id">{{ alm.Nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="idTipoMov == 1 || idTipoMov == 2">
                <mat-label>Almacen de Destino u Origen</mat-label>
                <mat-select [(ngModel)]="idDestino">
                    <mat-option [value]="0">Seleccione (en caso de aplicar)</mat-option>
                    <mat-option *ngFor="let alm of ComboAlmacen" [value]="alm.Id">{{ alm.Nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button [hidden]="datosCargados" (click)="insertarMov()" class="btn"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
        </div>
    </div>
</div>

<div class="form-place" *ngIf="isOnStepTwo">
    <div class="form-container">
        <div class="form-title">
            <h1 mat-dialog-title>Nuevo Detalle Movimiento</h1>
        </div>
        <div class="form-content">
            <mat-form-field appearance="fill">
                <mat-label>Id del Movimiento</mat-label>
                <input [disabled]="true" matInput placeholder="Cantidad" [(ngModel)]="idMovimiento">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Articulo" [formControl]="IdArticuloControl" [matAutocomplete]="autoArticulo" [ngModel]="selectedArticulo" [value]="displayArticuloFn(selectedArticulo)" />
                <mat-autocomplete #autoArticulo="matAutocomplete" (optionSelected)="articuloSelected($event)" [displayWith]="displayArticuloFn">
                  <mat-option *ngFor="let option of filteredArticulos | async" [value]="option">
                    {{ option.Descripcion }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field *ngIf="false" class="example-full-width">
                <input matInput type="text" placeholder="Código" [formControl]="CodigoControl" [matAutocomplete]="autoCodigo" [ngModel]="selectedCodigo" [value]="displayArticuloCodFn(selectedCodigo)" />
                <mat-autocomplete #autoCodigo="matAutocomplete" (optionSelected)="articuloCodSelected($event)" [displayWith]="displayArticuloCodFn">
                  <mat-option *ngFor="let option of filteredArticulosCod | async" [value]="option">
                    {{ option.Codigo }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>    
            <mat-form-field appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input matInput placeholder="Cantidad" [(ngModel)]="cantidad">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Costo</mat-label>
                <input [disabled]="true" matInput placeholder="Costo" [(ngModel)]="costo">
            </mat-form-field>
            <br>
            <button (click)="reload()" class="btn">Terminar<i class="underline"></i></button>
            <button [hidden]="datosCargados" (click)="insertarDetalleMov()" class="btn"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
        </div>
    </div>
</div>

<div class="form-place" *ngIf="isOnStepThree">
    <div class="form-container">
        <div class="form-title">
            <h1 mat-dialog-title>Nuevo Detalle Movimiento</h1>
        </div>
        <div class="form-content">
           <mat-form-field>
        <mat-label>Ticket</mat-label>
        <input matInput [formControl]="IdMovControl" placeholder="Ingresa el ticket" [(ngModel)]="idMovimiento"  name="idTicket" readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estados</mat-label>
        <mat-select [formControl]="IdEstadoControl" [(ngModel)]="Estado" name="Estado" required>
          <mat-option value="0">Seleccione</mat-option>
          <mat-option *ngFor="let cod of comboEstados" [value]="cod.Id">{{ cod.NombreEstado }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="Autorizar()" class="btn">Terminar<i class="underline"></i></button>
        </div>
    </div>
</div>

<div class="actionbar">
    <!-- <mat-form-field [hidden] class="search-bar">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field> -->
    <button [hidden]="!datosCargados" (click)="actualizar()" class="btn"><i class="bi bi-cloud-upload-fill icon"></i> Actualizar<i class="underline"></i></button>
    <button [hidden]="!datosCargados" class="btn-cancel "><i class="bi bi-cloud-upload-fill icon"></i>Cancelar</button>
</div>
<br>

<div class="table-container">
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="idMovimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id del Movimiento </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.idMovimiento}} </td>
        </ng-container>
        <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.Codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.Cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="Costo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.Costo}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Última Actualización </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.FechaActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let detalleMov"> {{detalleMov.UsuarioActualiza}} </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
</div>
    