<div class="window-header">
  <h1 mat-dialog-title>Editar almacen</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill btn-close"></i></button>
</div>

<div class="window-content">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Ingresa el nombre" [(ngModel)]="almacen.Nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Direccion</mat-label>
    <input matInput placeholder="Ingresa la direccion" [(ngModel)]="almacen.Direccion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Ingresa el Usuario" [(ngModel)]="almacen.Usuario">
  </mat-form-field>
</div>

<div mat-dialog-actions class="window-footer" >
    <button class="btn" (click)="guardar()"><i class="bi bi-floppy2-fill icon"></i> Guardar Cambios<i class="underline"></i></button>
</div>