<div class="title-container">
  <br>
  <label class="title">Usuarios</label>
  <br>
  <img src="./assets/Almacenes.png" class="module-logo">
</div>

<div class="form-place">
  <div class="form-container">
    <div class="form-title">
      <h1></h1>
    </div>
    <div class="form-content">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingresa el nombre" [(ngModel)]="nombre" />
      </mat-form-field>
      <mat-form-field style="display: none;">
        <mat-label>rol</mat-label>
        <input matInput placeholder="Ingresa el nombre" [(ngModel)]="rol" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" [(ngModel)]="contrasena" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <select matNativeControl [(ngModel)]="ComboRoles" placeholder="--Seleccione un usuario--" (change)="dev($event)" class="form-control">
          <option *ngFor="let rol of ComboRoles" value={{rol.Id}}> • {{ rol.Rol }}</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario Actualiza" [(ngModel)]="usuario"/>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="actionbar">
  <mat-form-field class="search-bar">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
  </mat-form-field>
  <button (click)="insertar()" class="btn right">Insertar<i class="underline"></i></button>
</div>
<br>
<div class="table-container">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.Id }}</td>
    </ng-container>
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.Nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="Rol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.Rol }}</td>
    </ng-container>
    <ng-container matColumnDef="Usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.Usuario }}</td>
    </ng-container>
    <ng-container matColumnDef="FechaAct">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FechaAct</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.FechaAct }}</td>
    </ng-container>
    <ng-container matColumnDef="FechaReg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FechaReg</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.FechaReg }}</td>
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let elemento">
        <mat-icon class="action-btn green" (click)="abrirEditarModal(elemento)"
          >edit</mat-icon
        >
        <mat-icon class="action-btn red" (click)="eliminarAlmacen(elemento.Id)"
          >delete</mat-icon
        >
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
</div>
