<div class="window-header">
  <h1 mat-dialog-title>Nueva Categoría de Modulo</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill btn-close"></i></button>
</div>

<div class="window-content">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder="Ingresa el nombre"
        [(ngModel)]="nombreCatModulo"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input
        matInput
        placeholder="Ingresa la descripcion"
        [(ngModel)]="descripcion"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Usuario Actualiza" [(ngModel)]="usuario" />
    </mat-form-field>
  </div>

  
<div class="window-footer" mat-dialog-actions>
  <button class="btn" cdkFocusInitial (click)="insertar()"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
</div>
