

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

mat-toolbar{
    background-color: rgb(255, 166, 0)!important; 

}

td{
    width: 200px;
    height: 25px;
    border-color: black;
}

.red{
    color:red
  }
  
.green{
  color:rgb(26, 228, 26);
}

.action-btn{
  position: relative;
  padding-left: 30px;
}
.lista{
  background-color: #00000000;
}