/*                                                             
     ____                                                                   _____                                
  ,ad8888ba,                 88                                           ad88888ba                       88            
 d8"'    `"8b                ""                                          d8"     "8b  ,d                  88            
d8'        `8b                       ___         ___                     Y8,          88                  88      ___      
88          88  88       88  88  8b,dPPYba,   ,adPPYba,  8b       d8     `Y8aaaaa,  MM88MMM  8b       d8  88   ,adPPYba,
88          88  88       88  88  88P'   "Y8  a8P__88  `8b     d8'       `"""""8b,  88     `8b     d8'  88  a8P__88
Y8,    "88,,8P  88       88  88  88          8PP"""""""   `8b   d8'              `8b  88      `8b   d8'   88  8PP"""""""
 Y8a.    Y88P   "8a,   ,a88  88  88          "8b,   ,aa    `8b,d8'       Y8a     a8P  88,      `8b,d8'    88  "8b,   ,aa
  `"Y8888Y"Y8a   `"YbbdP'Y8  88  88           `"Ybbd8"'      Y88'         "Y88888P"   "Y888      Y88'     88   `"Ybbd8"'
                                                             d8'                                 d8'                                 
                                                            d8'                                 d8'                                                                                                   
                                                         By: Equipo 2
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body { 
  --mat-paginator-enabled-icon-color:#fff!important;
  --mat-paginator-disabled-icon-color:#333!important;
}

body {  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  margin: 0; 
  padding: 0; 
  background-color: #a0a0a0!important;
  background:#a0a0a0 !important ;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background: #a0a0a0
}

::-webkit-scrollbar-thumb{
	background: #f0f0f0
}

mat-form-field{
  width: 256px;
}

mat-icon{
  position: absolute!important;
  margin-left: -26px;
}

mat-toolbar{
  background-color: rgb(209, 101, 29)!important; 
  box-shadow: 1px 25px 15px 10px rgba(41, 41, 41, 0.599);
  font-family: 'Poppins', sans-serif!important;
  font-weight: bold!important;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content.bg {
  background-color: #18191f;
  background: linear-gradient(0deg, #2f313b 0%, #18191f 100%);
  font-family: 'Poppins', sans-serif!important;
}

mat-sidenav{
  width: 400px;
}

mat-paginator{
  position:relative;
  top: 3px;
  width: calc(100% - 6px);
  color: white !important;
  background-color: #555!important;
  border-top: 3px solid #2e2e2e!important;
  border-right: 3px solid #2e2e2e!important;
  border-left: 3px solid #2e2e2e!important;
  border-bottom: 1px solid #2e2e2e!important;
  border-radius: 3px;
  z-index: 1;
}

.table-container table{
  background-color: #555!important;
  border: 3px solid #2e2e2e!important;
  border-radius: 3px;
}

.table-container th{
  text-align: center!important;
  padding-top: 6px;
  width: 100%;
  height: 40px;
  color:white!important;
  font-family: 'Poppins', sans-serif!important;
}

.table-container td{
  text-align: center!important;
  width: 100%;
  height: 40px;
  color:rgb(255, 255, 255)!important;
  font-weight: bold;
  font-family: 'Poppins', sans-serif!important;
}

.action-btn{
  margin: 6px;
}

.lista{
  background-color: #00000000;
}

.actionbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

.btn{
  text-align: center;
  width: 256px;
  height: 64px;
  font-size: 18px;
  position:relative;
  background:rgb(16, 195, 10);
  background: linear-gradient(0deg, rgb(19, 122, 16) 0%, rgb(16, 195, 10)); 
  color: #fff;
  border-radius: 6px;
  padding: 4px;
  border: 3px solid #165912;
  transition: .5s;
}

.btn:hover{
  letter-spacing: 3px;
  font-size: 20px;
  transition: .5s;
}

.btn-cancel{
  text-align: center;
  width: 256px;
  height: 64px;
  font-size: 18px;
  position:relative;
  background:rgb(232, 255, 30);
  background: linear-gradient(0deg, rgb(211, 204, 8) 0%,rgb(232, 255, 30)); 
  color: #fff;
  border-radius: 6px;
  padding: 4px;
  border: 3px solid #868600;
  transition: .5s;
}

.btn .underline
{
	position: absolute;
	inset: 0;
	display: block;
}
  
.btn .underline::after
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: #ffffff;
	transform: scale(0,1);
	transition: 0.3s ease;
}

.btn:hover .underline::after
{
	border-radius: 5px;
  transform: scale(1,1);
  transition: .3s ease;
}


.title-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.title{
  margin-top: 14px;
  font-size: 64px;
  font-weight: bolder;
  color: white;
  font-family: 'Poppins', sans-serif!important;
}

.module-logo{
  margin-top: 12px;
  margin-bottom:32px;
  width: 128px;
  height: 128px;
  font-size: 128px;
}

.start-menu-logo{
  margin-top: 12px;
  margin-bottom:32px;
}

.table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2%);
  padding: 1%;
}

.window-header{
  width: 100%;
  display: flex ;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgb(212,109,19);
  background: linear-gradient(0deg, rgba(212,109,19,1) 0%, rgb(191, 154, 54) 100%);
}

.window-content{
  padding: 10%;
  background-color: #18191f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  overflow-y: scroll;
}

.window-table{
  padding: 1%;
  background-color: #18191f;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow-y: scroll;
}

.window-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  background-color: #2a2c36;
}

.btn-close{
  position:relative;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  color: #fff;
  font-size: 24px;
  border:0;
  background-color: #00000000;
  transition:.3s ease;
}

.btn-close:hover{
  color: #ff2222;
  transition:.3s ease;
}

option{
  width: 100%;
  padding: 6px;
  font-size: 16px;
  width: 200px; 
}

.search-bar{
  display: block;
  position: absolute;
  margin-top: 12px;
  height: 70px;
  width: 512px;
  left: 0;
  margin-left: 2%;
  z-index: 99;
}

.mobile{
  display: none;
}

.form-container{
  margin: 0.5%;
  padding: 32px;
  width: 94%;
  background-color: rgb(201, 98, 30);
  border-radius: 50px;
  border: 4px solid rgb(138, 57, 7);
}

.form-title{
  color:#fff;
  display: flex;
  font-size: 24px;
  justify-content: center;
}

.form-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}

@media (max-width:1400px) {
  mat-form-field{
    width: 214px;
  }

  mat-sidenav{
    width: 300px;
  }
  
  .table-container th{
    font-size: 14px;
    width: 100%;
    height: 45px;
  }
  
  .table-container td{
    font-size: 10px;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width:800px) {
  mat-sidenav{
    width: 100%;
  }

  .search-bar{
    width: 256px;
  }
  
  .actionbar{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap:42px;
    margin:0;
  }

  .table-container th{
    font-size: 10px;
    width: 100%;
    height: 32px;
  }
  
  .table-container td{
    font-size: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 15px;
  }

  .form-place{
    width: 100%;
    display: flex;
  }

  .form-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: rgb(201, 98, 30);
    width: max-content;
    padding: 25px;
    border-radius: 10px;
    align-items: center;
  }

  .form-content mat-form-field{
    width: 100%;
  }
  
  .mobile{
    display:block;
  }

  .title{
    margin-top: 14px;
    font-size: 32px;
    font-weight: bold;
  }

  .module-logo{
    margin-top: 6px;
    margin-bottom:16px;
    width: 64px;
    height: 64px;
  }
  
  .table-container{
    overflow-x: scroll;
  }

  mat-paginator{
    position:relative;
    top: 3px;
    width: 100%;
  }

  th{
    font-size: 14px;
    width: 100%;
    height: 45px;
  }
  
  td{
    font-size: 10px;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 30px;
  }
}