

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: 'Poppins', sans-serif; }

mat-toolbar{
    background-color: rgb(255, 166, 0)!important; 
    box-shadow: 1px 25px 15px 10px rgba(191, 112, 8, 0.5);
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content.bg {
  background: rgb(212,109,19);
  background: linear-gradient(0deg, rgba(212,109,19,1) 0%, rgb(252, 212, 101) 100%);
}



mat-sidenav{
  width: 400px;
}

th{
  background-color: red ;
  width: 100%;
  height: 40px;
}

td{
    width: 100%;
    height: 40px;
}

.red{
    color:red
}
  
.green{
  color:rgb(26, 228, 26);
}

.action-btn{
  position: relative;
  padding-left: 30px;
}
.lista{
  background-color: #00000000;
}

.actionbar{
  display: flex;
  margin: 32px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn{
  text-align: center;
  width: 256px;
  height: 64px;
  font-size: 18px;
  position:relative;
  background-color: rgb(246, 255, 0);
  color: #947f08;
  margin: 0;
  border: 0;
  padding: 4px;
  border-radius: 36px;
  overflow: hidden;
  transition: .5s;
}

.btn:hover{
  letter-spacing: 3px;
  
  transition: .5s;
}

.btn i
{
	position: absolute;
	inset: 0;
	display: block;
}
  
.btn i::after
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: #d27a06;
	transform: scale(0,1);
	transition: 0.3s ease;
}

.btn:hover i::after
{
	border-radius: 5px;
  transform: scale(1,1);
  transition: .3s ease;
}

.title-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.title{
  
  margin-top: 14px;
  font-size: 64px;
  font-weight: bold;
}

.module-logo{
  margin-top: 12px;
  width: 128px;
  height: 128px;
}

.table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

}

table{
  position: relative;
  left:5%;
}

.window-header{
  width: 100%;
  background-color: #c37a0e;
  border-bottom: 3px solid #8e5a0c;
}

.window-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: rgb(212,109,19);
  background: linear-gradient(0deg, rgba(212,109,19,1) 0%, rgba(249,198,57,1) 100%);
}

.window-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e38a05;
  width: 100%;
}
