<h1 mat-dialog-title>Nuevo detalle de ticket</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>Id de ticket</mat-label>
        <input matInput placeholder="Ingresa el id del ticket" [(ngModel)]="idTicket">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="Ingresa el código" [(ngModel)]="codigo">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input matInput placeholder="Ingresa la cantidad" [(ngModel)]="cantidad">
      </mat-form-field>
      <mat-form-field>
      <mat-label>Precio de venta</mat-label>
        <input matInput placeholder="ngresa el precio de venta" [(ngModel)]="precioVenta">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
          <input matInput placeholder="Usuario Actualiza" [(ngModel)]="usuario">
        </mat-form-field>
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
</div>
