.home-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #f9722a00;
    width: 100%;
    padding-top: 128px;
    padding-bottom: 128px;
    border: 0;
    transition: 0.5s;
}

.home-btn:hover {
    background-color: #ff590034;
    transition:.5s;
}
  
.home-btn .underline
{
    position: absolute;
    display: block;
    inset:0;
}
    
.home-btn .underline::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
    transform: scale(0,1);
    transition: 0.3s ease;
}
  
.home-btn:hover .underline::after
{
    border-radius: 5px;
    transform: scale(1,1);
    transition: .3s ease;
}
  
.app-icon{
    margin-bottom: 12px;
    font-size: 64px;
}

.apps-container{
    background: #949494;
    background: linear-gradient(0deg, rgb(24, 24, 24) 10%, #464646 90%);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    margin: 0,auto;
    grid-row: 4;
}

@media (max-width:1400px) {
    .home-btn {
        padding-top: 32px;
        padding-bottom: 32px;
    }

}

@media (max-width:800px) {
    .home-btn {
        font-size: 12px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .apps-container{
        grid-template-columns: repeat(3,1fr);
    }

    
    
}