.home-btn {
    margin: 34px;
    padding-top: 6px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #dfdfdf46;
    width: 128px;
    height: 128px;
    border-radius: 6PX;
    transition: 0.5s;
}

.home-btn:hover {
    background-color: #0000006d;
    transition:.5s;
}
  
.app-icon{
    margin-bottom: 12px;
    font-size: 64px;
}

.apps-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}