<div class="window-header">
  <h1 mat-dialog-title>Editar información de ticket</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill"></i></button>
</div>
<div class="window-content">
  <mat-form-field>
    <mat-label>Id del ticket</mat-label>
    <input matInput placeholder="Ingresa el id del ticket" [(ngModel)]="detalleticket.IdTicket">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Codigo</mat-label>
    <input matInput placeholder="Ingresa el codigo" [(ngModel)]="detalleticket.Codigo">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cantidad</mat-label>
    <input matInput placeholder="Ingresa la cantidad" [(ngModel)]="detalleticket.Cantidad">
  </mat-form-field>
  <mat-form-field>
  <mat-label>Precio de venta</mat-label>
    <input matInput placeholder="Ingresa el precio de venta" [(ngModel)]="detalleticket.PrecioVenta">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Estatus</mat-label>
    <input matInput placeholder="Ingresa el estatus" [(ngModel)]="detalleticket.Estatus">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Ingresa el usuario" [(ngModel)]="detalleticket.Usuario">
    </mat-form-field>
</div>

        

          
<div class="window-footer" mat-dialog-actions>
  <button class="btn" (click)="guardar()"><i class="bi bi-floppy2-fill icon"></i> Guardar Cambios<i class="underline"></i></button>
</div>