<div class="window-header">
  <h1 mat-dialog-title>Editar empleado</h1>
  <button class="btn-close" (click)="onNoClick()"><i class="bi bi-x-square-fill"></i></button>
</div>

<div class="window-content">
         <mat-form-field>
    <mat-label>Persona</mat-label>
    <select matNativeControl [(ngModel)]="empleado.IdPersona" (change)="dev($event)">
      <option value="0">--Seleccione una Persona--</option>
      <option *ngFor="let per of ComboPersona" [value]="per.Id">{{ per.Nombre }}</option>
    </select>
  </mat-form-field>
     <mat-form-field>
    <mat-label>Sucursal</mat-label>
    <select matNativeControl [(ngModel)]="empleado.IdSucursal" (change)="dev2($event)">
      <option value="0">--Seleccione una Sucursal--</option>
      <option *ngFor="let scr of ComboSucursal" [value]="scr.Id">{{ scr.Nombre }}</option>
    </select>
  </mat-form-field>
        <mat-form-field>
    <mat-label>Puesto</mat-label>
    <select matNativeControl [(ngModel)]="empleado.IdPuesto" (change)="dev3($event)">
      <option value="0">--Seleccione un Puesto--</option>
      <option *ngFor="let pt of ComboPuesto" [value]="pt.Id">{{ pt.nombre }}</option>
    </select>
  </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input
          matInput
          placeholder=" "
          [(ngModel)]="empleado.usuarioActualiza"
        />
      </mat-form-field>
    </div>
<div class="window-footer" mat-dialog-actions>
  <button class="btn" (click)="guardar()"><i class="bi bi-floppy2-fill icon"></i> Guardar Cambios<i class="underline"></i></button>
</div>