.example-spacer {
    flex: 1 1 auto;
  }
  .custom-toolbar {
    background-color: blue; 
  color: white; 
  margin: 0;
  padding: 0;
  }
  

  
  .gridStyle{
    border-radius: 10px;
  
    
  }
  .enlarge-on-hover {
    transition: transform 0.3s;
  }
  
  .enlarge-on-hover:hover {
    transform: scale(1.2);
  }
  .hora-actual {
    margin-left: 1100px;
  }/* En tu archivo clientes.component.css */
  table {
      width: 100%;
    }
    
    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    th {
      width: 15%;
    }
    td{
        width: 20%;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .custom-toolbar {
      background-color: blue; 
    color: white; 
    margin: 0;
    padding: 0;
    }
  
    .gridStyle{
      border-radius: 10px;
  
      
    }

   
    .enlarge-on-hover {
      transition: transform 0.3s;
    }
    
    .enlarge-on-hover:hover {
      transform: scale(1.2);
    }
    .hora-actual {
      margin-left: 1100px;
    }
    .btn {
      border: none; 
      color: white; 
      padding: 14px 28px; 
      cursor: pointer; 
      border-radius: 5px; 
    }
  
    .success {background-color: #04AA6D;} 
    .success:hover {background-color: #46a049;}