<div class="title-container">
    <br>
    <label class="title">Almacenes</label>
    <br>
    <img src="./assets/Almacenes.png" class="module-logo">
    <br>
</div>

<div class="form-place">
    <div class="form-container">
    <div class="form-title">
        <h1 mat-dialog-title>Nuevo Almacen</h1>
    </div>
    <div class="form-content">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ingresa el nombre" [(ngModel)]="nombreAlmacen" required>
            <mat-error *ngIf="nombreAlmacen === ''">El nombre es requerido</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="Ingresa la direccion" [(ngModel)]="direccion" required>
            <mat-error *ngIf="direccion === ''">La dirección es requerida</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Encargado</mat-label>
            <input matInput placeholder="Encargado" [(ngModel)]="encargado" required>
            <mat-error *ngIf="encargado === 0">El encargado es requerido</mat-error>
          </mat-form-field>
    </div>
</div>

</div>
<br>
<div class="actionbar">
    <button [hidden]="!datosCargados" (click)="actualizar()" style="margin-top: -20px;" class="btn"><i class="bi bi-cloud-upload-fill icon"></i> Actualizar<i class="underline"></i></button>
    <button [hidden]="!datosCargados" (click)="limpiar()" style="margin-top: -20px;" class="btn-cancel "><i class="bi bi-cloud-upload-fill icon"></i>Cancelar</button>
    <button (click)="insertar()" style="margin-top: -20px;" class="btn"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
</div>
<br>
<mat-form-field class="search-bar">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
</mat-form-field>
<div class="table-container">
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Direccion}} </td>
        </ng-container>
        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="Encargado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Encargado </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Encargado}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaAct">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaAct </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.FechaAct}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaReg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaReg </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.FechaReg}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td class="iconsColumn" mat-cell *matCellDef="let elemento">
            <mat-icon class="action-btn" (click)="cargarDatos(elemento)">edit</mat-icon>
            <mat-icon class="action-btn" (click)="abrirDeleteDialog(elemento.Id, elemento.Nombre)">delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
</div>


