
<mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
</mat-form-field>
  <div class="mat-elevation-z8">
    <div class="toolbar" style="text-align: center;">
        <button mat-button (click)="abrirInsertarModal()" style="background-color: green;color: white;">Insertar Almacen</button>
    </div>
    <br>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Direccion}} </td>
        </ng-container>
        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.Usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaAct">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaAct </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.FechaAct}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaReg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FechaReg </th>
            <td mat-cell *matCellDef="let almacen"> {{almacen.FechaReg}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let elemento">
            <mat-icon ></mat-icon>

            <mat-icon class="green"(click)="abrirEditarModal(elemento)">edit</mat-icon>
            <mat-icon ></mat-icon>
            <mat-icon class="red" (click)="eliminarAlmacen(elemento.Id)">delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>
